:root{
    --main-color: rgb(185, 56, 99) ;
}
.main-color{
    color: var(--main-color);
}

.title{
    font-weight: 900;
    font-size: 70px;
}
.Q-btn{
    padding: 40px;
    border: 5px var(--main-color) solid;
    background-color: transparent;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color:var(--main-color);
    font-weight: 600;
    &:hover{
        background-color: white ;
    }
}